
html{
    scroll-behavior: smooth;
}
.section{
    height: 100vh;
    width: 100vw;

    color: rgb(243, 243, 243);
    
    font-weight: 400;
    font-family: Avenir-Roman, sans-serif;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./login-background.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: repeat-x;
    min-height: 100%;
}
.signup{
    background-color: #1f80e0;
    width:30%;
    text-align: center;
}